.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* toda la pantalla */
  overflow: hidden; /* por si la imagen se pasa */
}

.bannerContainer {
  position: relative;
  width: 100%;
  height: 100%; /* 100% del hero */
}

.bannerImage {
  object-fit: cover; /* rellena sin dejar espacios */
  object-position: center;
}
